*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  color: #4E4E4E;
} 

.wrapper {
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 50px;
}
.title {
	margin: 0;
}
.main-title {
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}
.menu {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	&__item {
		margin: 0;
		padding: 0;
	}
	&__link {
		padding: 15px 30px;
		display: block;
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		background-color: #2C3965;
		transition: all .2s ease-in;
		&:hover{
			background-color: #1D274B;
		}
	}
}
.breadcrumb {
	width: 100%;
	padding-top: 50px;
	&__list {
		display: flex;
		margin: 0;
		padding: 10px 0 10px 10px;
		list-style-type: none;
		background-color: #E5E5E5;
	}
	&__item {
		margin: 0;
		margin-right: 10px;
		padding: 0;
		padding-right: 10px;
		border-right: 1px solid #1D274B;
		&:last-child{border: none;}
	}
	&__link {
		text-decoration: none;
		color: #1D274B;
		border-bottom: 1px solid transparent;
		transition: all .2s ease-in;
		&:hover{border-color:#1D274B;}
	}
}
.products {
	padding-top: 60px;
	&__title {
		text-align: center;
		margin-bottom: 50px;
	}
}
.card-wrapper {
	display: flex;
	justify-content: space-between;
}
.card {
	max-width: 300px;
	width: 100%;
	box-shadow: 1px 1px 10px rgba(0,0,0,.3);
	text-align: center;
	border-radius: 5px;
	padding-bottom: 15px;
	&__img {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		img{
			height: 250px;
			width: 250px;
			object-fit: cover;
		}
	}
	&__title {
		color: #1D274B;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 20px;
	}
	&__price {
		font-size: 27px;
		color: #2C3965;
		font-weight: bold;
		margin-bottom: 30px;
		&--special {
			color: #FF4C4C;
		}
	}
	&__button {
		color: #fff;
		background-color: #1D274B;
		border-radius: 5px;
		transition: all .2s ease-in;
		&:hover{
			background-color: #2C3965;
			box-shadow: 0px 0px 10px #2C3965;
		}
		&--special {
			background-color: #FF4C4C;
			&:hover{
				background-color: #FF7878;
				box-shadow: 0px 0px 10px #FF7878;
			}
		}
	}
}
.button {
	display: inline-block;
	padding: 12px 25px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-wrapper {
	padding-top: 60px;
}
.form {
	&__title {
		margin-bottom: 30px;
	}
}
.contact-form {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	width: 100%;
	&__input {
		height: 50px;
		border: 2px solid #ccc;
		border-radius: 5px;
		margin-bottom: 5px;
		transition: all .2s ease-in;
		padding-left: 15px;
		&:hover,&:focus{
			border-color: #2C3965;
		}
	}
	&__textarea {
		border: 2px solid #ccc;
		border-radius: 5px;
		transition: all .2s ease-in;
		padding-top: 15px;
		padding-left: 15px;
		min-height: 100px;
		margin-bottom: 15px;
		&:hover,&:focus{
			border-color: #2C3965;
		}
	}
	&__submit {
		max-width: 200px;
		color: #fff;
		background-color: #1D274B;
		border-radius: 5px;
		transition: all .2s ease-in;
		border: none;
		cursor: pointer;
		&:hover{background-color: #2C3965;}
	}
}
