*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  color: #4E4E4E;
}

.container {
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 50px;
}

.main-title{
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 50px;
}

.slider {

}

.slider__item {

}
