*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  color: #4E4E4E;
}

.main-title{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.block {
	background-color: #4100B8;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	color: #fff;
}

.col-1 .block {
	font-size: 16px;
}